@import "layouts/header";
@import "layouts/create";
@import "layouts/footer";
@import 'core/variables';

.body {
  box-sizing: border-box;
  margin: 0px;
  overflow-x: hidden;
}
html {
  box-sizing: border-box;
}
