//@import 'core/settings';
//@import 'core/links';
//

.main {
  background-image: url(../images/lampara.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 60px;
  width: 154.5px;
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: flex;
  flex-direction: row;
  
  align-content: space-around;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 154.5px;
}
// @media all and (min 320px; max 740px) {

// }

// main
.main {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.mainTitle {
	color: white;
	font-size: 30px;
	font-family: 'Rubik-Bold', sans-serif;
height: 108px;
width: 161px;
margin-left: 20px;

}
