<!DOCTYPE html>
<html lang="es">
  <!-- <div class="page">
   <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" Class=" footer""></partial> 
  </div> -->
<head>
	<meta charset="UTF-8">
	<title>Adalab </title>
	<link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
  <header class="header">
    <h1 class="logo"><img src="./assets/images/logo-adalab.png" alt="icono Adalab"></h1>
    <nav class="nav">
      <ul class="list">
        <li>BLOG</li>
        <li>CONTACTO</li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <section class="create">
      CREANDO DIVERSIDAD DIGITAL
    </section>
  </main>
  <footer>
    <spam>Adalab</spam>
    <spam class="copy">&copy; 2018</spam>
  </footer>
  
</body>
</html>
