//footer
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  color: #676a6d;
  font-family: "Rubik-Regular", sans-serif;
  font-size: 16px;
  text-align: center;
  height: 90px;
  width: 100vw;
}
.copy {
  width: 119px;
  height: 19px;
}
