@import "core/variables";
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 112px;
  background-color: $colorWhite;
  width: 100%;
  padding: 15px;

  .menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Rubik", sans-serif;

    .item {
      display: inline;
      list-style: none;
      text-transform: uppercase;
    }
  }

  .link {
    color: #4a4a4a;
    text-decoration: none;
    transition: 5s ease color;
    padding: 5px;
    &:hover {
      color: #32decf;
      text-decoration: underline;
    }
  }
}

//media 768 header

@media all and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .link {
      padding-right: 35px;
    }
    .logo {
      padding-left: 30px;
    }
  }
}
