.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 112px;
  background-color: white;
  width: 100vw;
  box-sizing: border-box;
}
.logo {
  height: 60px;
  width: 154.5px;
}

.link {
  text-decoration: none;
}
.item {
  display: inline;
  color: #4a4a4a;
}
.item:hover {
    color: #32decf;
    text-decoration: underline;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
//media 768 header

@media all and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .item {
    padding-right: 30px;
  }
  .logo {
    padding-left: 30px;
  }
}
