@import "core/variables";
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 112px;
  background-color: $colorWhite;
  width: 100vw;
  box-sizing: border-box;

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;

    .link {
      text-decoration: none;
      text-transform: uppercase;
    }

    .item {
      display: inline;
      color: #4a4a4a;
      transition: 5s ease color;
      &:hover {
        color: #32decf;
        text-decoration: underline;
      }
    }
  }
}

//media 768 header

@media all and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item {
      padding-right: 35px;
    }
    .logo {
      padding-left: 30px;
    }
  }
}
